global
    log stdout format raw local0
    stats socket /run/haproxy/admin.sock mode 666 level admin expose-fd listeners
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 3s
    timeout client  120s
    timeout server  120s

frontend socks5_gateway
    bind *:1080
    default_backend socks5_workers

backend socks5_workers
    balance leastconn
    option tcp-check
    default-server inter 2s fastinter 1s fall 2 rise 1 on-marked-down shutdown-sessions

    server worker1 vpn-worker-1:1080 check
    server worker2 vpn-worker-2:1080 check
    server worker3 vpn-worker-3:1080 check
    server worker4 vpn-worker-4:1080 check
    server worker5 vpn-worker-5:1080 check
    server worker6 vpn-worker-6:1080 check
    server worker7 vpn-worker-7:1080 check
    server worker8 vpn-worker-8:1080 check
    server worker9 vpn-worker-9:1080 check
    server worker10 vpn-worker-10:1080 check
    server worker11 vpn-worker-11:1080 check
    server worker12 vpn-worker-12:1080 check
    server worker13 vpn-worker-13:1080 check
    server worker14 vpn-worker-14:1080 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s
